* {
    /* background-color: orange; */
}

#logo {
    height: 15%;
    width: 25%;
    margin-right: auto;
    display: block;
}

#bot-dialog-window {
    height: auto;
    margin-top: 5%;
    width: 50%;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}

#bot-dialog-output {
    background-color:deepskyblue;
    height: auto;
    min-height: 150px;
    border-bottom: 5px solid black;
}

#bot-dialog-input {
    background-color: rgb(153, 153, 153);
    height: auto;
}

#bot-dialog-textarea {
    background-color: #ffe5cc;
    height: auto;
    min-height: 15px;
    border-bottom: 5px solid black;
}

#bot-dialog-textarea:empty::before {
    content: attr(placeholder-text);
    color: gray;
}

#bot-dialog-send {
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    border-width: 3px;
}

#statistics-sign {
    background-color: rgb(153, 153, 153);
    text-align: center;
    border-bottom: 5px solid black;
}

#bot-statistics {
    background-color: #ffe5cc;
    width: 50%;
    height: 150px;
    margin-top: 5%;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}

.table-cell {
    text-align: left;
}

.value-cell {
    background-color: deepskyblue;
}

[contenteditable]:focus {
    outline: 0 solid transparent;
}